.board_cells{
    border: solid thin;
    padding: 0 !important;
    background-color: aliceblue;
    .image{
        width: 100%;
        height: 100%;
    }
}

.spacer-lg{
    height: 5vh;
}

.spacer-sm{
    height: 2vh;
}

.command{
    height: 90px;
}

.background{
    background-color: black;
}

.no_margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}